/* ConfirmationModal.css */
.modal-overlay-confirmation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* Asegúrate de que el modal esté encima de otros elementos */
  /* pointer-events: none; Desactiva interacciones con el overlay */
}

.modal-content-confirmation {
  background: #0c2d59;
  color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  max-width: 90%;
  position: relative;
  max-width: 90vw;
  width: 500px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  z-index: 1001;
}

.modal-close-confirmation {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  cursor: pointer;
}

.modal-actions-confirmation {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.modal-button-confirmation-confirm {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  color: #daffcf;
}
.modal-button-confirmation-confirm:hover {
  color: #0c2d59;
}

.modal-button-confirmation.cancel {
  background-color: #ffffff; /* Rojo para el botón de cancelar */
  color: #0c2d59;
  font-size: x-large;
  border: 1px solid #0c2d59;
  border-radius: 6px;
}
.modal-button-confirmation.cancel:hover {
  background-color: #0c2d59;
}

.modal-button-confirmation.confirm {
  background-color: #4caf50;
  color: white;
}
