/* .offerCard-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  background-color: #2d5fbf;
  border-radius: 8px;
} */
.offerCard {
  flex: 1 1 300px;
  background-color: #0c2d59;
  color: #ffffff;
  max-width: 600px;
  height: fit-content;
  padding: 20px;
  border: 1px solid #ffffff;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  max-width: 400px;
  /* margin: 0; */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra para destacar la tarjeta */
}

.offerCard h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.offerCard p {
  margin: 5px 0;
}

.offerCard button {
  background-color: #e2f212;
  color: #0c2d59;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

.offerCard button:hover {
  background-color: #d1e510;
}
.offercard-button-container {
  display: flex;
  justify-content: end;
}
