.modal-custom {
  position: absolute !important; /* Cambia a 'absolute' si es necesario */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #5bba1c;
}
/* body {
  background-color: #121212; 
  color: #ffffff; 
  font-family: "Arial", sans-serif; 
  margin: 80px auto;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center; */
/* height: 100vh;  Altura completa de la ventana */
/* }  */

/* .container {
  text-align: center;
  background-color: #1e1e1e; 
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  width: 300px; 
}*/

h1 {
  margin-bottom: 20px;
  text-align: center;
  font-size: xx-large;
}

input {
  text-align: right;
  width: 100%;
  padding: 10px;
  margin: 0px 0;
  border-radius: 5px;
  background-color: #333;
  color: #ffffff;
  font-size: 14px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

h2,
/* p {
  width: 100%; 
  padding: 10px;
  margin: 0px 0;
  border-radius: 5px;
  background-color: #333; 
  color: #ffffff; 
  font-size: 14px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
} */

input::placeholder {
  color: #aaaaaa; /* Color del placeholder */
}

button {
  width: 100%; /* Ancho completo del contenedor */
  padding: 10px;
  margin: 10px 0;
  /* border: none; */
  border-radius: 5px;
  background-color: #6200ea; /* Color del botón */
  color: #ffffff; /* Color de texto del botón */
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

button:hover {
  background-color: #3700b3; /* Color del botón al pasar el ratón */
}

.nft-container {
  margin: 20px, auto;
}

.nft-container img {
  max-width: 100%;
  height: auto;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.7);
}

.nft-container h2 {
  margin: 10px 0;
  font-size: 18px; /* Tamaño de fuente más grande para el nombre */
}

.nft-container p {
  margin: 10px 0;
  font-size: 14px; /* Tamaño de fuente más pequeño para la descripción */
  color: #cccccc; /* Color de descripción */
}
